/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

/* Navigation */

#main-nav {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px #E0E0E0 solid;
}

#main-nav .navbar-nav li {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#main-nav .navbar-toggle {
  border: none;
}

#main-nav .navbar-toggle:hover {
  background-color: transparent;
}

#main-nav .navbar-toggle:hover .icon-bar {
  background-color: black;
}

/* Pick different hover color for active link!
 * Also, figure out a way to emulate that color
 * scheme in the smaller screen. */
@media (min-width:768px) {
  #main-nav .navbar-nav li:hover {
    border-bottom: 4px #C6C6C6 solid;
  }
  #main-nav .navbar-nav .active {
    border-bottom: 4px #008080 solid;
  }
  #main-nav .navbar-nav .active:hover {
    border-bottom: 4px #7DABAA solid;
  }
}

@media (max-width:767px) {
  #main-nav .navbar-nav li {
    display: block;
  }
  #main-nav .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#main-nav .navbar-nav {
  float: none;
}

#main-nav .navbar-collapse {
  text-align: center;
}

/* Body */

body {
  position: relative;
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.65em;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
}

.page {
  padding-top: 30px;
  padding-bottom: 0px;
}

.icon {
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  opacity: 0.8;
}

.icon:hover {
  opacity: 1.0;
}

/* Welcome */

h1 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #008080;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* About */

/* Portfolio */

#projects {
  margin-top: 30px;
}

.panel .panel-heading {
  background-color: white;
  border: 1px #5A5A5A solid;
}

#projects h4 a {
  font-variant: small-caps;
  display: block;
  font-size: 1.2em;
}

#projects h4 a:hover,  #projects h4 a:focus{
  text-decoration: none;
}


/* Contact */

#contact h3 {
  text-align: center;
  color: #008080;
}

#contact a:hover {
  text-decoration: none;
  color: #008080;
}

#contact .btn {
  font-variant: small-caps;
  font-size: 120%;
  border-color: #5A5A5A;
  margin-top: 30px;
}
/* Footer */

footer {
  margin-top: 60px;
}
